#rounds{
    margin: 1%;
    padding: 1%;
}

#message{
    margin: 1%;
    padding: 1%;
}

#play{
    margin: 1%;
}

#player1{
    background-color: #30997a;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border-radius: 5px;
}

#player2{
    background-color: #6a478f;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border-radius: 5px;
}

#buttons-play{
    margin: 1%;
    padding: 1%;
}